.home-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    justify-content: center;
    border-left: var(--first-color) solid 68px;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

@media screen and (max-width: 768px) {
    .home-container {
        border-left: var(--first-color) solid 0px;
    }
}
